body {
    background-color: #ffe6f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.container {
    text-align: center;
}

.heart {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: pink;
    transform: rotate(45deg);
    margin: 0 auto 20px;
}

.heart::before,
.heart::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -50px;
}

button {
    background-color: #ff99cc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff66b2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.congrats {
    display: none;
    color: #ff66b2;
    font-size: 24px;
    margin-top: 20px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes ball {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: calc(70% - 100px); /* Move to the right */
        top: 0;
    }
    50% {
         /* Keep to the right */
        top: calc(100% - 100px); /* Move to the bottom */
    }
    75% {
        left: 0;
        top: calc(100% - 100px); /* Keep to the bottom */
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes riseAndDisappear {
    0% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: -10%;
        opacity: 0;
    }
}

.two {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffbadd;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -25px;
    animation: ball 20s infinite, riseAndDisappear 3s forwards;
    display: none; /* Hide initially */
}

.rise {
    display: block;
    animation: riseAndDisappear 3s forwards;
}
